<h2>Cadastrar Aluno:</h2>
<form action="">
     Nome: <input type="text" name="nome" [(ngModel)]="aluno.nome">
     Idade: <input type="text" name="idade" [(ngModel)]="aluno.idade">
     <button type="button" (click)="cadastrar()">Cadastrar</button>
</form>
<h2>Alunos Cadastrados:</h2>
<table>
     <thead>
          <tr>
               <th>Id</th>
               <th>Nome</th>
               <th>Idade</th>
          </tr>  
     </thead>
     <tbody>
          <tr *ngFor="let aluno of alunos">
               <td>{{aluno.id}}</td>
               <td>{{aluno.nome}}</td>
               <td>{{aluno.idade}}</td>
               <td><button (click)="atualizar(aluno.id)">Atualizar</button></td>
               <td><button (click)="remover(aluno.id)">Deletar</button></td>
          </tr>
     </tbody>
</table>